@use '../mixins/responsive.scss' as *;

.logo--top {
  width: 6rem;
  height: 1rem;

  @include responsive(desktop) {
    width: 15rem;
    height: 2.375rem;
  }
}

.logo--footer {
  width: 12.5rem;
  height: 2rem;
  margin-bottom: 16px;
}
