@use '../mixins/responsive.scss' as *;

.text {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin: 0;
  margin-bottom: 1.5rem;

  @include responsive(desktop) {
    line-height: 1.875rem;
    font-size: 1.25rem;
  }
}

.text--xl {
  font-weight: 700;
  font-size: 3.8094rem;
  line-height: 5.7125rem;

  @include responsive(desktop) {
    line-height: 144px;
    font-size: 96px;
  }
}

.text--m {
  margin: 0;
  font-size: 0.9525rem;
  line-height: 1.4312rem;
  color: var(--color-grey);

  @include responsive(desktop) {
    line-height: 30px;
    font-size: 20px;
  }
}

.text--bold {
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--color-white);
  margin-bottom: 32px;

  @include responsive(desktop) {
    margin-bottom: 40px;
    font-size: 0.875rem;
  }
}

.text--white {
  line-height: 1.5rem;
  color: var(--color-white);

  @include responsive(desktop) {
    line-height: 1.5rem;
    font-size: 1rem;
  }
}
